<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931477368112-4etn56eghmgp3ge4mkabs8mlo0pc8f2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931477368112-4etn56eghmgp3ge4mkabs8mlo0pc8f2d</string>
	<key>API_KEY</key>
	<string>AIzaSyBQWsO1H3KpZhLXXoB8XLQm4q0uamAXB6o</string>
	<key>GCM_SENDER_ID</key>
	<string>931477368112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.trayl</string>
	<key>PROJECT_ID</key>
	<string>trayl-758af</string>
	<key>STORAGE_BUCKET</key>
	<string>trayl-758af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931477368112:ios:03d5cc17a42ab9520fecf5</string>
</dict>
</plist>